@import "settings";
@import "foundation";
// @import "font-awesome-compass";
// @import "font-awesome";
// @import "foundation/components/magellan"


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


/////////////////////////////////////////////
//              PAGE STYLES
///////////////////////////////////////////// 
body {
  font-size: 80%;
}



/////////////////////////////////////////////
//              HEADER STYLES
///////////////////////////////////////////// 



/////////////////////////////////////////////
//              HERO SECTION STYLES
///////////////////////////////////////////// 
div.hero-wear {
  margin-bottom: 0;
}
.hero-text-wrapper {
  height: 150px;
  background-color: $turquoise;
  margin-top: 0;
  h2 {
    margin-top: 0;
    color: $white;
  }
  p#icon-row {
    display: table-cell;
    span {
      vertical-align: middle;
    }
    span#watch {
      font-size: 24px;
      color: $white;
    }
    span.circle-white {
      color: $white;
    }
    span.circle-white:hover {
      color: $android-green;
    }
    a#change-bg {
      // background-color: $android-green;
      width: 55px;
      height: 25px;
    }
  }

}




/////////////////////////////////////////////
//              COMING TO STYLES
///////////////////////////////////////////// 
div {
  .section {
    padding-bottom: 85px;
  }
  .section-top-buffer {
    padding-top: 85px;
  }
  .devices {
    display: table;
    margin: 30px auto 0 auto;
    max-width: 1400px;
    position: relative;
    height: 379px;
    .device {
      display: table-cell;
    }
    .device.wear {
      max-width: 230px;
      padding: 0 40px;
      box-sizing: border-box;
      
      position: relative;
      text-align: center;
    }
    .device-img-wrap {
      margin: 0 0 45px 0;
    }
  }
}




/////////////////////////////////////////////
//              BEST OF GOOGLE STYLES
///////////////////////////////////////////// 
div.hero-tab {
  margin-bottom: 0;
}
.hero-text-wrapper.best {
  height: 150px;
  background-color: $android-green;
  margin-top: 0;
  h2 {
    margin-top: 0;
    color: $white;
  }
  p.text-subhead {
    color: $white;
  }
  p.subhead-link a {
    color: $white;
  }

}



/////////////////////////////////////////////
//              CUSTOMIZED STYLES
///////////////////////////////////////////// 



/////////////////////////////////////////////
//              MORE FROM STYLES
///////////////////////////////////////////// 




/////////////////////////////////////////////
//              FOOTER STYLES
///////////////////////////////////////////// 